
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
/* Enter your styling here */
h1{
  color:orangered;
  margin-bottom: -5px;
}
p{
  margin-bottom: -10px;
}
.ui{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.row{
  display: flex;
}
.cell{
  border:none;
  width: 80px;
  height: 80px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  cursor:pointer;
}
#b1{
  border-bottom: 1px solid gray;
  border-right: 1px solid gray ;
}
#b2{
  border-bottom: 1px solid gray;
  border-right: 1px solid gray ;
  border-left: 1px solid gray;
}
#b3{
  border-bottom: 1px solid gray;
  border-right: 1px solid gray ;
  border-left: 1px solid gray; 
}
#b4{
  border-top: 1px solid gray;
  border-right: 1px solid gray ;
  border-rignt: 1px solid gray; 
}